/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/

html {
  font-family: 'Roboto', Arial, Verdana;
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  background-color: lightgrey;
  text-align: left;
}

form {
   /* 36.674px / 22*/
  background-color: grey;
}

h1 {
  font-size: 1.667em; /* 36.674px / 22*/
}

p, ol, li, h1 {
  padding: 1em;
}

#input-submit input {
  border-style: none;
  width: 40%;
}